@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "MuseoModerno", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.title {
  font-weight: 500;
  font-size: 42px;
  color: #000;
}

.prgrph {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

.green {
  color: rgb(69, 197, 120);
}

.flex, .footer_parent .footer_top, .footer_parent .footer_bot, .aksiya_parent .aksiya_top, .aksiya_parent .aksiya_bottom .box .bottom, .navbar, .navbar2, .navbar2 .selected, .navbar2 .nav_btn2 button, .navbar2 .nav_btn2 button a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding: 30px 0;
}
.navbar .nav_tel p {
  font-weight: 400;
  font-size: 14px;
  color: rgb(166, 166, 169);
}
.navbar .nav_tel p a {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.navbar .nav_search input {
  border-radius: 31px;
  padding: 14px 130px;
  width: 90%;
  background-color: rgb(244, 245, 250);
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  border: none;
}
.navbar .plar p .green {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
}
.navbar .plar p {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  color: rgb(166, 166, 169);
}
.navbar .nav_btn button {
  border: 1px solid #c0c2cb;
  border-radius: 21px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  background: transparent;
}

@media (max-width: 1058px) {
  .navbar .nav_tel p {
    font-size: 12px;
  }
  .navbar .nav_tel p a {
    font-size: 16px;
  }
  .navbar .nav_search input {
    width: 70%;
    padding: 10px 20px;
    font-size: 14px;
  }
  .navbar .plar p .green {
    font-size: 14px;
  }
  .navbar .plar p {
    font-size: 10px;
  }
  .navbar .nav_btn button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media (max-width: 704px) {
  header {
    padding: 10px 0;
  }
  .navbar .nav_tel p {
    font-size: 10px;
  }
  .navbar .nav_tel p a {
    font-size: 14px;
  }
  .navbar .nav_search {
    width: 20%;
    text-align: center;
  }
  .navbar .nav_search input {
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
  }
  .navbar .plar p .green {
    font-size: 12px;
  }
  .navbar .plar p {
    font-size: 8px;
  }
  .navbar .nav_btn button {
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media (max-width: 568px) {
  header {
    padding: 10px 0;
  }
  .navbar .nav_tel p {
    font-size: 8px;
  }
  .navbar .nav_tel p a {
    font-size: 12px;
  }
  .navbar .nav_search {
    width: 20%;
    text-align: center;
  }
  .navbar .nav_search input {
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
  }
  .navbar .plar p .green {
    font-size: 10px;
  }
  .navbar .plar p {
    font-size: 6px;
  }
  .navbar .nav_btn button {
    font-size: 10px;
    padding: 5px 10px;
  }
}
@media (max-width: 487px) {
  header {
    padding: 10px 0;
  }
  .navbar .nav_tel {
    display: none;
  }
  .navbar .nav_tel p {
    font-size: 8px;
  }
  .navbar .nav_tel p a {
    font-size: 12px;
  }
  .navbar .nav_search {
    width: 20%;
    text-align: center;
  }
  .navbar .nav_search input {
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
  }
  .navbar .plar p .green {
    font-size: 10px;
  }
  .navbar .plar p {
    font-size: 6px;
  }
  .navbar .nav_btn button {
    font-size: 10px;
    padding: 5px 10px;
  }
}
@media (max-width: 390px) {
  .navbar {
    padding: 10px;
    gap: 10px;
  }
  .navbar .plar {
    display: none;
  }
  .navbar .nav_search {
    width: 40%;
  }
}
.navbar2 {
  padding: 20px 0;
}
.navbar2 .selected {
  width: 80%;
}
.navbar2 .selected p select {
  border: none;
  outline: none;
}
.navbar2 .selected p .green select {
  border: none;
  outline: none;
  color: #06e35a;
}
.navbar2 .nav_btn2 button {
  border-radius: 10px;
  border: none;
  background-color: rgb(69, 197, 120);
  padding: 10px 10px;
  gap: 20px;
  color: #fff;
}
.navbar2 .nav_btn2 button a {
  gap: 20px;
}
.navbar2 .nav_btn2 button a .plar {
  text-align: start;
}
.navbar2 .nav_btn2 button a .plar .oq {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.navbar2 .nav_btn2 button a .plar p {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.65);
}
.navbar2 .nav_btn2 button a .onikki {
  border-radius: 10px;
  background: #74d69a;
  padding: 10px 15px;
}
.navbar2 .nav_btn2 button a .onikki p {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

@media (max-width: 1225px) {
  .navbar2 .selected .bir {
    display: none;
  }
}
@media (max-width: 11163px) {
  .navbar2 .selected .ikki {
    display: none;
  }
}
@media (max-width: 1067px) {
  .navbar2 .selected {
    width: 50%;
  }
  .navbar2 .selected .uch {
    display: none;
  }
}
@media (max-width: 733px) {
  .navbar2 .selected {
    width: 50%;
  }
  .navbar2 .selected .tort {
    display: none;
  }
}
@media (max-width: 600px) {
  .navbar2 .selected {
    width: 50%;
  }
  .navbar2 .selected .besh {
    display: none;
  }
}
@media (max-width: 475px) {
  .navbar2 .selected {
    width: 10%;
  }
  .navbar2 .selected .olti {
    display: none;
  }
}
.aksiya_parent {
  margin: 100px 0;
}
.aksiya_parent .aksiya_bottom {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
.aksiya_parent .aksiya_bottom .box h3 {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.aksiya_parent .aksiya_bottom .box .green {
  margin-top: 10px;
}
.aksiya_parent .aksiya_bottom .box .ves {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: rgb(66, 65, 65);
}
.aksiya_parent .aksiya_bottom .box .opa {
  font-weight: 400;
  font-size: 18px;
  text-decoration: line-through;
  color: #d6d5d5;
  margin-top: 40px;
}
.aksiya_parent .aksiya_bottom .box .bottom p {
  font-weight: 500;
  font-size: 24px;
  color: red;
}
.aksiya_parent .aksiya_bottom .box .bottom button {
  border: 1.5px green;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-color: rgb(69, 197, 120);
}

@media (max-width: 1373px) {
  .aksiya_parent .aksiya_bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .aksiya_parent .aksiya_bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 621px) {
  .aksiya_parent .aksiya_bottom {
    grid-template-columns: 1fr;
  }
}
.footer_parent .footer_top {
  padding: 20px 0;
}
.footer_parent .footer_top p {
  font-weight: 400;
  font-size: 22px;
  color: rgb(73, 73, 73);
}
.footer_parent .footer_top .plar p {
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: rgb(181, 176, 176);
}
.footer_parent .footer_top .plar h4 a {
  font-weight: 600;
  font-size: 22px;
  text-align: right;
  color: black;
}
.footer_parent .footer_bot {
  padding: 20px 0;
}
.footer_parent .footer_bot img {
  width: 5%;
}

@media (max-width: 1048px) {
  .footer_parent .footer_top {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .footer_parent .footer_bot {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
